<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nocomment.smartthermalmicrowave" >

    <uses-feature android:name="android.hardware.usb.UsbAccessory"></uses-feature>
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:screenOrientation="landscape" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BrowseByItem"
            android:label="@string/title_activity_browse"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nocomment.smartthermalmicrowave.MainActivity" />
        </activity>
        <activity
            android:name=".SearchByName"
            android:label="@string/title_activity_search"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nocomment.smartthermalmicrowave.MainActivity" />
        </activity>
        <activity
            android:name=".ScanUPC"
            android:label="@string/title_activity_upc"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nocomment.smartthermalmicrowave.MainActivity" />
        </activity>
        <activity
            android:name=".DisplaySearchResultsSBN"
            android:label="@string/search_results"
            android:parentActivityName="nocomment.smartthermalmicrowave.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nocomment.smartthermalmicrowave.MainActivity" />
        </activity>
        <activity
            android:name=".DisplaySearchResultsUPC"
            android:label="@string/search_results"
            android:parentActivityName="nocomment.smartthermalmicrowave.ScanUPC" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nocomment.smartthermalmicrowave.ScanUPC" />
        </activity>
    </application>

</manifest>
